language: java

jdk:
- oraclejdk8

env:
  global:
    - secure: "s1DwUlVEqoe16vqMoZbMe0o8Q4cceq/OgdfFWPmoLuk1bzimsK5gG+MxxhPSSKjGk4G5Q9M+wO0MZO1WgUD9VeptZ6HmEWkU1SxmzB/WQa2eWgMDLH6j3Lb2JX+rf+pdbWv76MnMlZjx+hBnPVJLPsfX621lJbVc/pNsrULjoQmESyjc7KESEVWUnoZ21jj8Ou7f3gFWLSVWtp2zRKFvWMdtFaJ3sGQDs+JQpIwRRcgcq670Drq5HlsypIwVvuA6UYPP/d01OxdJtMfLdchCiXgyA66O0iWDHSUVndIiCleGqiYSw/9Zsnc5u7lbhdniJeUXHOWZWK5eZ2ieuWDFgSlm8GgfoSH0cZC71SflMG8h8/sqy8M0akKn1DnMhgtt97NTAio+hf5KbKNkXuSRljA+n9Ta9WSTk4hGZgbR8CiRfvO2x3PNSi09MBEN7L+B/QHX6BpLQpTlpuk+rICaXgKvSnb5KDu6TBp4tOTjwYMa1I3I6rFowCOv2RFn3Wl0NETa0SjKy+iIU8/+Nx6CAsWLb0s/G1RxU5j0gX94VHWI1lPVW0Z3IqTvqjFhFu9/1VCGaF/QPKsgvXZIntuDkpI3KmFAA4nedkw4RoRy7J1ujCwDqy7dUZFcTlHVizhks/ew5YcsYtVGgcGjAKYxZyz2TxzSCO+8VuzwnkpNHes="
    - secure: "a7PhYYEHBdzXaJcZTvX6JZ2mxhpMVsXnb5uld0vJI5X2Y4c2ezHUiF5HNBpcjhNl0X1eeXBnZdyTQodOtjCNs5cCLePEmzcoTmZHQwwtbXEoeCLMWUk0M4t1MSC7CUAlrF23aTu4iIXIx/4tc8k1cSAUB4hTCQ/+XILXj154Du5ZoaRPC0BmKX2dY0EgrR9dgf7TPQ2YNhYaKUBkzTBBnsEeOwwdZUoGkqZhLgF2nyZJoOhE9ojliZr9JUCBlviritIyyaeZZSvEqp+AGR/x7CGp7IpXRwBSS8lXKAo7d0y4IIPOo9fsRIZowBGRwh9Nnm7J5QVBWz4wcL2jEDfj73QGcIGAQuXup9mukaJLFo40Atd+p8cXk3FJkjk2B25naBa9zvRwBjy8NihfBhAaoB4CpMqDLKgw8BImW4DxLScU4ue6drcZBmjOhPdB7xGagEAFOnzOt2TM/4an7lLBy7+sjYZc+AMot5lhvZna9id4E4vYbTGtM/G/eGTbDlQcZFv3+zNoc0637NO11kepksMOX4Mf+ZdEndonMBfrbRZjM+Brone0dFjFOpe2mRrtzycEo3e7JhsGu5u9Ha00UvMVjgMlBuYN+BrgC02FrAs2QNRCq/pBXBsC9uOUZFo9hbCGPK9NUN47t8A7GoV5oTJsh0ZxhelGjMt2y5rJC+E="
    - secure: "GemxlQYtgjpZFrUXIUSzK2gbJ8xQtUJIe9EWmaqO20Au1F3AYbXNecYoqYSOoQNY02KgbMtjqWDyCwuvpfeEBC1eoa2eCBTX1kaizmQLo3huxt6ywPj7ZZegnf4Wv6T6GnzayCOKbaUHU0LHVur9xmDXfZXmJj6tW6AF89mwYPz26jA4Cnm0t4hTzukPu3fZ9Q8erdxP/pjB9NevdHAx9aINZjPRDpBMrbWpfrYGNOlrxssMadNIgyODPtNQ4kR4mBzq9Gpps05dqj5PVClhg90znZSEg0OjVOB4umPPvDxHxwA+5HXVZ9HgMOu4ltD5HM6SmP9MfYjrc6FNIB+EPyGhLJ0oSGf6T9y44dzenLcAEcRfy09NN3RA/BvuWsFZ3k9q3PddVDZDpL0PT7mEsYajiwJfHJ1NK12VPvhQ2MWSh0Zk2c9h30gjj7iS/fGJc1m+1noCls6pEqwXOEh3XyTPdaovR5jRZVb7eW3R6mWEMpn4K9ujwWKlNpfuPCFybv2r3cjyPOOuHsLLUry6WBq9oEMly8DmjP0UF5C3SY6K3AYA+wkRcMqySY7sg2AiWJdeYLfWuJG/2Se2s7yBLih4btWyy7ds42J7NrDEr+wvf0vK+6dPnIZmlCv3nXxgej0BYbKQ8wKOQOCZU012RToS/OV2WPSefXos2QhxVEc="
    - secure: "M3UGWEliZqt5fW0To47UW6h7iohJI8EUYz9YPdSej0WtRE0pMVTmxL35PtXhD8QTd0gP5XsgG1ht9KjK6ZzSbsbaZdQx9BEPDrfwD9YkWIYPdQFJl/QwubX/x3wOzIOaV2WFnWTXSWcXSYYK8qO8T3M0ku+dMyldNr0UybWHk8+tdhoUb3noDV7nMBTiq4H3AXQBblElgEvGMVRZgjQTy8TVQNLZpwbJXto4YOnGjmb7OR1FIh1n9Dmi2rYuos78GQMEz4hX8hQ8KxzRHTN2dbUEjqKgJSp+gdMgolhaGxOFgocjHGKtxCUkawEBRuYU8Pac8YejnydiFJRwm/AXlTdc5/qaLvE+2B5rt6C9hKVxVU0rv77o4xFywlkrVuDwRTnKziyYbksfoWntnaWwZKydPD6s92B0CJ5V3W43WhJcBsJz3JMim54+11NxG2I5c/uMh6Dxd30YRUQ1cQM0YGqs9n0vRT1nCG/KOIWzk0wUdqdiaWAjj9n/n9Jj6xi1yeS2xlCwo/UE1Ln4VPcDWRFyNQT3JEnfd6BEF4Cc/xVEe+z6vjXxP5jFzllXD02XOPkpDqsJ4s2w9YgcJe1tzfKFVncEGHFw8qB2TKv+hHstSr42fkI6FjRbRDkTRDnfgR04ZTKCLzhbO/sNl50wrz045kmlrDDvQW5el86Frv4="
    - secure: "d9+xYjzfZTWYTWEr/d0ozFbjsXfN6nL2vtTOzejDHdhLfZkzPa3jaufm+u1vMbHjwYE7zhYY5T7Hc17oz9HprognUiOqnheGrVBENU2zU/95PRn5k9auPNfbAruxm4mVL2CXunV5uveOTcwwsdY+MB9Qo4Y0AeKDLViEQvTl/72S2/s6fgiW1XQ++k6IFZAwLtWLrI6Fhmb0w6iMxZTubvboILj0wrFwlfdG8aS1cJ9pr6EOiaQt8aDZ+066Jo6w6VXy4o30jfIwR6Yk85v98p1UINwvw1rSkPxRo2fV71lmQB5FtFB1Ifm2jw7IcWF0pq726shPZsiwNvNOnO56BoEM7YsgDaDoJu5tlqpi7JHcATycVoLy8aMiXnHdBZAEooucM5f3XTnfnMZRG/jITzq2OsRrF9u3FFSCZOZBUCvaQH45FvYXdGlF3LMT5vSMdiE1PCc/3QPnMHgJjRQ4MUgvf/My06AgNEUCbhX0J9/DsfqG99tNjp2KiJpKDPKbzBXMvxCbnT5I8My8fbrJ0UAVOfG2f7ngLtBn4e7tzjQZ47UQ+dlRrCNU9NptTZWG6MPpTDTbOJkfFBxIGrQ+UaCgC4HO85jS1Y3IMvgpYi3ZEA/Gjn65VUMfK46mQYfp/R6wDmr2lym9vdUUcYZqhKm/qRtcI4bwvkfCQLnBDwM="

# Overridden because parent project uses maven.test.skip instead of skipTests
install: mvn install -Dmaven.test.skip=true -Dmaven.javadoc.skip=true -B -V

script: mvn -Ps3_it install -Dvertx.pairtree.bucket="${VERTX_PAIRTREE_BUCKET}" -Dvertx.pairtree.access_key="${VERTX_PAIRTREE_ACCESS_KEY}" -Dvertx.pairtree.secret_key="${VERTX_PAIRTREE_SECRET_KEY}"

after_success: mvn com.gavinmogan:codacy-maven-plugin:coverage -DcoverageReportFile=target/site/jacoco/jacoco.xml -DprojectToken="${PROJECT_TOKEN}" -DapiToken="${API_TOKEN}"

cache:
  directories:
  - $HOME/.m2

notifications:
  email:
    recipients:
    - ksclarke@gmail.com
    on_failure: change
    on_success: never
  irc:
    channels:
    - irc.freenode.org#freelibrary
    on_failure: always
    on_success: always
  slack:
    secure: eMZgS79kzSH6opY2sSJhrYdTg0jLB/JzLEvQFcn6xoDtek3/WjWWg4+M8sYv/qPqwzY3jeJ0vxd8SIwcgBJkgOHVJqvmqxWV49/F8EOENaDU+oWo5vUUh8GvM1e+B/4wZd14PbD6w9m4qs1gIAUcPECE21p0KDtvN/VYnH+96LI=

sudo: false
