
// Making fonts a little more readable for older eyes (like mine)
.td-navbar .navbar-brand__name { font-weight: 700; color: white !important; text-shadow: black 1px 1px; }
.td-navbar { background-color: #433D8B !important; }

.navbar-nav .nav-link, .navbar-nav .nav-link.active {
  color: #FFF;
  &:hover, &:focus { color: #FFF; }
}

.td-search { background-color: #FFF; }
.td-search.td-search--offline { border-radius: 5px; overflow: hidden; }
.navbar-nav { margin-right: 20px;}

// Tweak the color scheme and layout on Home and About pages
.td-box--3 { background-color: white; }
.td-footer { padding-top: 1em; min-height: 75px; }

// Give a little more whitespace around items in the in-page TOCs
.td-page-meta a { padding-top: 30px; }

// Hide links to the doc sources, leaving just a feedback button 
.td-page-meta__child { display: none !important; }
.td-page-meta__view { display: none !important; }
.td-page-meta__edit { display: none !important; }

// Table tweaks
.td-sidebar-nav__section .ul-1 ul { padding-left: .75em; }
.td-sidebar-nav > .td-sidebar-nav__section { padding-left: .75em; }
.status { width: 28px; }
.table { --bs-table-striped-bg: #FFF; }
td:nth-child(3) { text-align: center !important; }
td:nth-child(2) { text-align: left !important; padding-left: 1.5em !important; }

.td-content > table,
.td-box .td-content > table {
    max-width: 98% !important;
    width: 100%;
    display: table !important;
}

// Code examples on cookbook pages
.td-max-width-on-larger-screens {
  max-width: 98%;
}

.td-footer {
  background-color: #433D8B !important;
}

.taxo-categories {
  margin-top: 15px;
}
