
div {
  --bs-info-rgb: white;
}

.nav-link {
  --bs-nav-link-color: white;
}

$base-color: #433D8B !default;

$primary: $base-color !default;
$dark: $base-color !default;
$link-color: $base-color !default;

$secondary: #C8A1E0 !default;
$info: #F7EFE5 !default;

