
div {
  --bs-info-rgb: white;
}

.nav-link {
  --bs-nav-link-color: white;
}

$primary: #4c543c !default;
$secondary: #b6a284 !default;
$dark: #443C54 !default;
$info: #e4e3cd !default;
$link-color: #4c543c !default;
